body {
  margin: 0;
  background-color: #fefefe;
}


/* Nav bar styling */
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #cfe1b9 ;
  font-family: "Lobster Two", sans-serif;
  font-size: 20px;
  
}

.container-ul {
  display: flex;
  list-style: none;
  gap: 55px;
  font-family: "Raleway", sans-serif;
}

/* Main Page syling */

.container_main {
  background-image: url(https://images.unsplash.com/photo-1516211697506-8360dbcfe9a4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
}

#title_MP {
  text-align: center;
  color: #718355;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  height: 30px;
  font-family: "Raleway", sans-serif;
  
}

#word_MP {
  margin-left: 25px;
  font-style: italic;
  font-weight: normal;
}

.quote_section{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.quote_container {
  width: 50%;
  height: 100px;
  background-color: #718355;
}

#p_MP{
  font-size: 25px;
  font-family: "Raleway";
  font-style: italic;
  text-align: center;
  
}

/* About page styling */
.container-about {
  display: block;
  margin: 60px auto;
  width: 600px;
  height: 100vh;
}

#title_about {
  margin-bottom: 50px;
  font-size: 35px;
  font-family: "Raleway";
}

.container-about p {
  font-size: 22px;
}

/* Recipes styling */

.container_recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 40px;
    
  }
  
  .recipes_box {
    border: 2px solid #ccd5ae;
    border-radius: 15%;
    cursor: pointer;
    background-color: #fefae0 ;
    padding: 5px;
}

.img_recipes{
  width: 320px;
  height: 320px;
  border-radius: 15%;
}

.title_recipes{
  text-align: center;
  font-family: "Raleway";
  color: #718355;
  
}

/* SignUser Page */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  
}

.form_container{
  align-items: center;
  border: 2px solid red;
  width: 300px;
  height: 300px;
}

/* Single recipe styling */

.supercontainer_recipe{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.container_recipe{
  border: 2px solid #ccd5ae;
  
  width: 400px;
  min-height: 600px;
  position: relative;
  background-color: #fefae0;
  padding: 20px;
}

.container_recipe ul li {
  font-family: "Raleway";
}

.image_recipe{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #ccd5ae;
  align-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#recipe_title {
  margin-top: 80px;
  text-align: center;
  font-family: "Raleway";
  
}

.recipe_subtitle {
  font-family: "Raleway";
  margin-top: 30px;
}

/* Footer styling */
.super_container{
  height: 200px;
  background-color: #cfe1b9;
  border: 2px solid pink;
}

.footer_container{
  
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
  gap: 20px;
}

.subfooter_container{
  background-color: red;
  
}

