body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav bar styling */
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid red;
}

.container-ul {
  display: flex;
  list-style: none;
  gap: 25px;

}

/* Main Page syling */

#title_MP {
  text-align: center;
  color: red;
  border: 2px solid green;
  margin-top: 0px;
  margin-bottom: 0px;
}

.quote_section{
  border: 2px solid blue;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#p_MP{
  color: red;
}

/* Footer styling */

.footer-container{
  border: 2px solid pink;
  height: 100px;
  text-align: center;

}
