body {
  margin: 0;
  background-color: #fefefe;
}


/* Nav bar styling */
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #cfe1b9 ;
  font-family: "Lobster Two", sans-serif;
  font-size: 20px;
}

.container-ul {
  display: flex;
  list-style: none;
  gap: 55px;
  font-family: "Raleway", sans-serif;
  

}

/* Main Page syling */


.container_main {
  background-color: lightgoldenrodyellow;
  
}

#title_MP {
  text-align: center;
  color: rgb(73, 71, 71);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  height: 30px;
  font-family: "Raleway", sans-serif;
}

.quote_section{
  border: 2px solid blue;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#p_MP{
  font-size: 25px;
  font-family: "Raleway";
  font-style: italic;
}

/* About page styling */
.container-about {
  display: block;
  margin: 0 auto;
  width: 600px;
}

#title_about {
  margin-bottom: 50px;
  font-size: 35px;
}

.container-about p {
  font-size: 20px;
}

/* Footer styling */

.footer-container{
  border: 2px solid pink;
  height: 100px;
  text-align: center;
  background-color: #cfe1b9;

}
